@model Restoran.Models.Gost
@{
    ViewBag.Title = "Details";
}

<h2>Detaljno</h2>

<div>
    <h4>Gost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImePrezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImePrezime)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
   @* @Html.ActionLink("Back to List", "Index")*@
</p>
